/*includes padding/border in element's width/height*/
* {
    box-sizing: border-box;
}

/*removes default margin*/
body {
    margin: 0;
    background-image: url('images/0.2opacity_bg.png');
    font-family: "Fira Sans", sans-serif;
}

/*header*/
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f5eedc;
    margin: 1rem;
    border: solid 1px #000;
    border-radius: 5px;
}

header h1 {
    font-size: 3.8rem;
    font-style: italic;
    margin-bottom: 2rem;
    /*background-color: white;*/
}

.change-display {
    display: inline;
    width: 22%;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    text-align: center;
    /*background-color: yellow;*/
}

.change-display select {
    padding: 0.3rem 0.4rem 0.4rem;
}

.change-display input {
    width: 20%;
    padding-bottom: 0.4rem;
    padding-top: 0.3rem;
    background-color: #0279ff;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 554px) {
    header h1 {
        font-size: 2.6rem;
    }

    .change-display {
        font-size: 1rem;
        width: 70%;
    }
}

@media screen and (min-width: 555px) and (max-width: 910px) {
    header h1 {
        font-size: 3rem;
    }

    .change-display {
        font-size: 1rem;
        width: 40%;
    }
}

@media screen and (min-width: 911px) and (max-width: 1400px) {
    header {
        margin-bottom: 3rem;
    }

    header h1 {
        font-size: 3.4rem;
    }

    .change-display {
        width: 30%;
    }
}

/*bucket list*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: green;*/
}

.bucket-list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 91.6%;
    /*background-color: blue;*/
}

.bucket-item {
    margin-bottom: 1rem;
}

.item-image {
    width: 24vw;
    height: 34vh;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 3rem;
}

.item-name {
    font-style: italic;
    font-weight: bold;
    background-color: #fff;
    font-size: 1.6rem;
    display: inline;
    padding: 0.6rem;
    border: solid 1px #000;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0.6rem 2rem 1rem;
    background-color: #fff;
    font-weight: bold;
    border: solid 1px #000;
    border-top: 0;
}

.stats div {
    color: #000;
    text-align: center;
}

.stats .stats-data {
    padding-top: 0.4rem;
    font-weight: normal;
    color: #034C53;
    text-align: center;
}

i {
    color: gold;
}

@media screen and (max-width: 554px) {
    .bucket-list {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

    .item-image {
        width: 80vw;
        height: 30vh;
        margin-top: 1.6rem;
    }

    .item-name {
        font-size: 1.3rem;
        padding: 0.4rem;
    }

    .stats {
        font-size: 0.9rem;
        padding-bottom: 1rem;
    }
}

@media screen and (min-width: 555px) and (max-width: 910px) {
    .bucket-list {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

    .bucket-item {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        width: 100%;
    }

    .item-image {
        width: 66vw;
        height: 40vh;
        margin: 0;
    }

     .item-name {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

     .stats {
         flex-direction: column;
         align-items: center;
         margin: 0;
         padding: 2rem 2rem 2.8rem;
         border-top: solid 1px #000;
         border-left: 0;
         width: 10rem;
     }
}

@media screen and (min-width: 911px) and (max-width: 1400px) {
    .bucket-list {
        width: 92%;
    }

    .item-image {
        width: 40vw;
        height: 36vh;
        margin: 0 1.7rem 0 1.7rem;
    }

    .item-name {
        font-size: 1.4rem;
    }

    .stats {
        margin: 0 1.7rem 2rem;
    }
}

/*form*/
.add-activity {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: yellow;*/
}

.form {
    height: 70%;
    width: 60%;
    background-color: #f5eedc;
    color: #000;
    border: solid 1px #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.add-activity h1 {
    font-size: 1.6rem;
    margin: 1.4rem 0 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 41%;
    /*background-color: cyan;*/
}

label {
    margin-right: 0.4rem;
    margin-bottom: 0.1rem;
    margin-top: 0.2rem;
}

input {
    font-size: 1rem;
    width: 100%;
    padding-top: 0.4rem;
}

select {
    padding: 0.2rem;
    font-size: 0.9rem;
}

.submit-activity {
    width: 100%;
    display: flex;
    justify-content: center;
}

.submit-activity input {
    margin-top: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    width: 18%;
    cursor: pointer;
    background-color: #0279ff;
    color: #fff;
    border: 0;
    border-radius: 5px;
}

 @media screen and (max-width: 554px) {
     .add-activity {
         height: 60vh;
     }

     .form {
         width: 79%;
         height: 78%;
     }

      .add-activity h1 {
        font-size: 1.3rem;
    }

     form {
         align-items: center;
         width: 70%;
         font-size: 0.9rem;
     }

     .submit-activity input {
        margin-top: 1rem;
        width: 22%;
        font-size: 0.9rem;
     }
 }

@media screen and (min-width: 555px) and (max-width: 910px) {
    .add-activity {
        height: 60vh;
    }

    .form {
        width: 70%;
        height: 82%;
    }

     .add-activity h1 {
        font-size: 1.5rem;
    }

    form {
        width: 60%;
    }

    .submit-activity input {
        margin-top: 1rem;
        width: 26%;
     }
}

@media screen and (min-width: 911px) and (max-width: 1400px) {
    .add-activity {
        height: 50vh;
        margin-top: 1rem;
        margin-bottom: 4rem;
     }

    .form {
        height: 100%;
    }

    form {
        width: 60%;
    }
}